name: Publish to PyPI

on:
  workflow_dispatch:


jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies and run tests
      working-directory: ./python
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e ".[test]"
        python -m pytest tests/ -v

    - name: Build package
      working-directory: ./python
      run: |
        python -m pip install -U setuptools wheel build twine
        rm -rf ./build ./dist
        python -m build --outdir ./dist .

    - name: Upload to PyPI
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: "${{ secrets.PYPI_TOKEN }}"
      run: twine upload --skip-existing ./python/dist/*